body {
    background-color: #735557;
}

.container {
    display: flex;
    gap: 40px;
    padding: 40px;
    justify-content: center;
}

.left-column {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.box_intro {
    border: 8px solid #D29F80;
    border-radius: 8px;
    padding: 10px;
    width: 450px;
    height: 250px;
    background-color: #97866A;
    display: flex;
    flex-direction: column;
}

#intro-h1 {
    font-size: 175%;
    width: 100%;
    text-align: center;
    font-family: "Noto Sans Mono", monospace;
    color: white;
}

.box_projects {
    border: 8px solid #D29F80;
    border-radius: 8px;
    padding: 10px;
    width: 450px;
    height: 250px;
    background-color: #97866A;
    display: flex;
    flex-direction: column;
}

#projects-h1 {
    font-size: 175%;
    width: 100%;
    text-align: center;
    font-family: "Noto Sans Mono", monospace;
    color: white;
}

#projects-h2 {
    font-size: 160%;
    width: 100%;
    text-align: center;
    font-family: "Noto Sans Mono", monospace;
    color: white;
}

#project-link {
    font-size: 160%;
    width: 100%;
    font-family: "Noto Sans Mono", monospace;
    color: white;
}

#project-link:hover {
    font-size: 160%;
    width: 100%;
    font-family: "Noto Sans Mono", monospace;
    color: #e6e8eb;
}

.box_socials {
    border: 8px solid #D29F80;
    border-radius: 8px;
    padding: 10px;
    width: 350px;
    height: 577px;
    background-color: #97866A;
    display: flex;
    flex-direction: column;
}

#socials-h1 {
    font-size: 175%;
    width: 100%;
    text-align: center;
    font-family: "Noto Sans Mono", monospace;
    color: white;
}

.box_aboutme {
    border: 8px solid #D29F80;
    border-radius: 8px;
    padding: 10px;
    background-color: #97866A;
    display: flex;
    flex-direction: column;
}

#aboutme-h1 {
    font-size: 175%;
    width: 100%;
    text-align: center;
    font-family: "Noto Sans Mono", monospace;
    color: white;
}

.box_contact {
    border: 8px solid #D29F80;
    border-radius: 8px;
    padding: 10px;
    background-color: #97866A;
    display: flex;
    flex-direction: column;
}

#contactme-h1 {
    font-size: 175%;
    width: 100%;
    text-align: center;
    font-family: "Noto Sans Mono", monospace;
    color: white;
}